 *,
 *:before,
 *:after {
     box-sizing: border-box;
 }

 * {
     margin: 0;
     padding: 0;
 }

 html {
     font-family: "Roboto", sans-serif;
     font-size: 62.5%
 }

 /* dialog */

 /* project */

 .add-project-dialog-container {
     display: none;
     justify-content: center;
     align-items: center;
     width: 100vw;
     height: 100vh;
     position: fixed;
     background-color: rgba(0, 0, 0, 0.5)
 }

 .dialog-project-container,
 .dialog-add-task {
     display: flex;
     flex-direction: column;
     padding: 1%;
     gap: 0.8rem;
     position: relative;
     border: none;
     border-radius: 0.8rem;
     font-size: 1.6rem;
 }

 .dialog-project-title-container {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 #dialog-add-project-name,
 #dialog-add-task-name,
 #dialog-add-task-description {
     height: 3.2rem;
     outline: none;
     border: none;
     font-size: 1.6rem;
     padding-left: 0.8rem;
     border-radius: 0.8rem;
     background-color: #f1f2ed;
     color: #000;
 }

 .dialog-add-project-button,
 .dialog-add-task-button {
     height: 3.2rem;
     background-color: #e5f778;
     border: none;
     border-radius: 0.8rem;
     width: 50%;
     align-self: center;
     font-size: 1.4rem;
 }

 .dialog-add-project-button:hover,
 .dialog-add-task-button:hover {
     scale: 110%;
     cursor: pointer;
 }

 /* project */

 .dialog-container {
     display: none;
     justify-content: center;
     align-items: center;
     width: 100vw;
     height: 100vh;
     position: fixed;
     background-color: rgba(0, 0, 0, 0.5)
 }

 .dialog-add-task {
     display: flex;
     flex-direction: column;
     padding: 1%;
     gap: 0.8rem;
     position: relative;
 }

 .dialog-add-close-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .dialog-date-container {
     display: flex;
     align-items: center;
     gap: 0.8rem;
 }

 .dialog-priority-container {
     padding: 0.6rem;
     display: flex;
     align-items: center;
     gap: 0.8rem;
 }

 .dialog-priority,
 .dialog-checkbox-container {
     display: flex;
     align-items: center;
     gap: 0.4rem;
 }


 /* dialog */

 .top-bar {
     display: flex;
     height: 10vh;
     align-items: center;
     padding-left: 1%;
     background-color: #ffffff;
     color: #000000;
     font-size: 3.6rem;
     border-bottom: 1px solid #000000;
 }

 .logo {
     user-select: none;
 }

 .container {
     display: flex;
 }

 .side-bar {
     display: flex;
     flex-direction: column;
     gap: 3.2rem;
     background-color: #ffffff;
     border-right: 1px solid #000000;
     padding: 2% 2% 0 2%;
     width: 15vw;
     height: 90vh;
     font-size: 2.8rem;
 }

 .side-bar-title {
     border-bottom: 1px solid #000000;
     margin-bottom: 1.6rem;
     padding-bottom: 0.8rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     user-select: none;
 }

 .add-project-button {
     background-color: white;
     border: none;
     cursor: pointer;
     margin-top: 0.8rem;
 }

 .side-bar-list {
     display: flex;
     flex-direction: column;
     gap: 0.8rem;
     list-style-type: none;
     font-size: 2.4rem;
 }

 .selected {
     background-color: #e5f778;
     padding: 0.8rem;
     border-radius: 0.8rem;
     user-select: none;
 }

 .to-be-selected:hover {
     background-color: #f1f2ed;
     cursor: pointer;
     padding: 0.8rem;
     border-radius: 0.8rem;
     user-select: none;
 }

 .project-element-container {
     display: flex;
     gap: 0.8rem;
     align-items: center;
     justify-content: space-between;
 }

 .main-content {
     display: flex;
     flex-direction: column;
     background-color: #f1f2ed;
     width: 85vw;
     height: 90vh;
 }

 .add-task-button {
     display: flex;
     background: none;
     border: none;
     font-size: 2.4rem;
     align-items: center;
     gap: 0.8rem;
 }

 .main-content-top-section {
     display: flex;
     flex-direction: column;
     gap: 0.8rem;
     width: 100%;
     font-size: 2.4rem;
     padding: 3% 0 0 3%;

 }

 .project-name {
     font-size: 3.2rem;
 }

 .main-content-bottom-section {
     display: grid;
     flex-grow: 1;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
     padding: 2% 3% 3% 3%;
     gap: 4rem;
     overflow-y: auto;
 }

 .task-card {
     background-color: #e5f778;
     border-radius: 1.2rem;
     height: 12rem;
     padding: 4% 4% 4% 4%;
     display: flex;
     flex-direction: column;
     gap: 0.4rem;
     font-size: 1.6rem;
 }

 .task-card input[type="checkbox"] {
     margin-right: 0.8rem;
 }

 .task-name-container {
     display: flex;
 }

 .task-name {
     font-weight: bold;
 }

 .task-date {
     font-weight: bold;
 }

 .task-edit-icon:hover,
 .task-delete-icon,
 .project-delete-icon,
 .add-task-button,
 .dialog-project-close-button,
 .dialog-close-button {
     cursor: pointer;
     width: fit-content;

 }

 .buttons {
     display: flex;
     gap: 0.8rem;
 }

 .button-none {
     background: none;
     border: none;
 }